/* Line 3 to Line 5 are all for body */

body {
    background-color: #F7F7F7;    
}

/* Line 9 to Line 28 are all for header */

header {
    max-width: 80%;
    margin: auto;
    overflow: auto;
}

nav {
    float: right;
}

ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    
}

.logo img {
    float: left;
}

/* Line 32 to Line 37 are all for notice */

.notice {
    text-align: center;
    font-size: large;
    padding: 1%;
    background-color: #faf565;
}

/* Line 41 to Line 73 are all for short product details */

.flex-container {
    display: flex;
    margin-left: 20%;
}

.container1 {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}

.container2 {
    float: right;
    margin-right: 25%;
    margin-left: 20%;
    margin-top: 5%;
}

.list {
    list-style-type: inherit;    
}

.list li {
    margin: 5%;
    font-size: large;
}

.explore {
    border-style: outset;
    border-color: #faf565;
    background-color: #faf565;
    text-align: center;
}

/* Line 77 to Line 140 are all for review */

.slideshow-container {
    margin-top: 5%;
    position: relative;
    background: #faf565;
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

q {
    font-style: italic;
}

.author {
    color: cornflowerblue;
}

/* Line 144 to Line 185 are all for footer */

.footer {
    float: left;
    width: 25%;
}

.footer-container::after {
    content: "";
    display: table;
    clear: both;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #faf565;
    color: grey;
    margin: 1%;
}

.fa-twitter {
    background: #faf565;
    color: grey;
    margin: 1%;
}

.fa-instagram {
    background: #faf565;
    color: grey;
}

.box1 {
    display: flex;    
    
}

.box {
    flex: 50%;    
    padding-left: 15%;
    padding-bottom: 15%;
    padding-top: 5%;
    padding-right: 5%;
}

.accountbox {
    display: flex;    
    
}

.accountbox1 {
    flex: 50%;    
    padding-left: 15%;
    padding-bottom: 15%;
    padding-top: 5%;
    padding-right: 5%;       
}

.verticalline {
    border-left: 3px solid lightgray;    
    height: 500px;
    position: absolute;
    left: 50%;    
    margin-left: -3px;
    
}

.verticallineacc {
    border-left: 3px solid lightgray;    
    height: 500px;
    margin-left: 10%;  
    
}

.in-box li {
    list-style-type: none;    
    padding: 30px;  
    font-size: large;  
}

.in-box li:hover {
    background-color: #faf565;
}

.accountbox1 div {
    width: 100%;
    padding: 50px 0;
    margin-top: 20px;     
}



@media screen and (max-width: 600px) {
    .box {
      width: 100%;
    }
  }


  