/* Line 3 to Line 5 are all for body */

body {
    background-color: #F7F7F7;    
}

/* Line 9 to Line 28 are all for header */

header {
    max-width: 80%;
    margin: auto;
    overflow: auto;
}

nav {
    float: right;
}

ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    
}

.logo img {
    float: left;
}

/* Line 32 to Line 37 are all for notice */

.notice {
    text-align: center;
    font-size: large;
    padding: 1%;
    background-color: #faf565;
}

/* Line 39 to Line 81 are all for footer */

.footer {
    float: left;
    width: 25%;
}

.footer-container::after {
    content: "";
    display: table;
    clear: both;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #faf565;
    color: grey;
    margin: 1%;
}

.fa-twitter {
    background: #faf565;
    color: grey;
    margin: 1%;
}

.fa-instagram {
    background: #faf565;
    color: grey;
}

